---
import { getUser } from '../utils/api.js';
let user = {};

try {
  user = await getUser(telegramId);
} catch (error) {
  console.error("Error fetching user:", error);
}
---

<nav class="bg-lime-400 rounded-b-3xl flex justify-between items-center">
  <div class="text-xl font-bold h-16 w-38 ml-3 flex justify-between items-center">
    <div class="w-10 h-10 bg-neutral-900 text-white rounded-full flex justify-center items-center">
      <svg
        class="w-[16px] h-[16px] text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-width="1.1"
          d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
    </div>
    <h1 class="text-xl pl-2">{user.userName}</h1>
  </div>
  <div class="w-auto mr-3 text-sm font-normal px-2 py-2 bg-white rounded-full flex justify-between items-center">
    <div class="w-6 h-6 bg-neutral-900 text-yellow-200 rounded-full flex justify-center items-center mr-2">
      <svg
        class="w-[10px] h-[10px] text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="15"
        height="15"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
        />
      </svg>
    </div>
    <p class="font-bold text-xl">{user.xp}</p>
  </div>
</nav>
